<ion-view title="Fazendas" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="fazenda-form2" class="list">
      <ion-item class="item-avatar" id="fazenda-list-item1">
        <h1>Fazenda Maria</h1>
        <button id="menu-button20" style="border-radius:14px 14px 14px 14px;" class="button button-energized button-medium button-block button" ng-click="fazendaselecionada()">Selecionar</button>
      </ion-item>
      <ion-content padding="true" class="has-header">
        <form id="fazenda-form2" class="list">
          <ion-item class="item-avatar" id="fazenda-list-item1">
            <h1>Fazenda Santa Clara</h1>
            <button id="menu-button20" style="border-radius:14px 14px 14px 14px;" class="button button-energized button-large button-block button" ng-click="fazendaselecionada()">Selecionar</button>
          </ion-item>
